// sass --watch scss/style.scss:css/style.css
// sass --watch scss/media.scss:css/media.css
// Переменные
$primary-color: #fc273f;
$serwak-color: #e4e600;
$section-color: #1e2025;
$secondary-color: grey;
$background-color: #191a1d;
$font-family: Arial, sans-serif;
$button-hover-color: #b8192b;
$max-width: 1400px;

// Глобальные стили
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

button {
	all: unset;
}

body {
	font-family: $font-family;
	line-height: 1.6;
	background-color: $background-color;
	color: $secondary-color;
	margin: 0;
	padding: 0;
}

body.no-scroll {
	overflow: hidden; // Блокирует прокрутку
}

.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 1rem;
}

// Основные стили для header
header {
	--header-darkness: 0.6; /* начальная темность */
	position: relative;
	width: 100%;
	height: 1000px;
	min-height: 100dvh;
	background: url('../images/1.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(
			0,
			0,
			0,
			var(--header-darkness)
		); /* использование переменной */
		transition: background 0.3s ease;
		z-index: 1;
	}
}

.header-container {
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.circle-wrapper {
	position: relative;
	height: 0;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	background-color: $serwak-color;
	border-radius: 50%;
}

.arrow {
	font-size: 30px;
	color: black;
	animation: bounce 1s infinite;
	margin-bottom: 50px;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

// Верхняя панель
.top-bar {
	padding: 1rem 0;
}

.top-bar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.block-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 10px;

	svg {
		display: block;
		margin: 0 auto;
		color: $serwak-color;
	}

	.swing {
		animation: swing 2s ease-in-out infinite;
	}

	@keyframes swing {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(-5deg);
		}
		50% {
			transform: rotate(0deg);
		}
		75% {
			transform: rotate(5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	.schedule {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 5px;
		p {
			font-size: clamp(0.1rem, 2.5vw, 0.7rem);
			font-weight: 400;
		}
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		font-size: clamp(0.1rem, 2.5vw, 0.7rem);
	}

	.location {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		p {
			font-size: clamp(0.1rem, 2.5vw, 0.7rem);
			font-weight: 400;
		}
	}
}

// Навигация
.navbar ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	list-style: none;
}

.navbar a {
	color: $secondary-color;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

.navbar a:hover {
	color: #fff;
}

// Основной контент в header
.center-content {
	text-align: start;
	margin: auto;
	h2 {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 5px;
		color: $secondary-color;
	}
}

.center-content h1 {
	font-size: 7vw;
	line-height: 1.1;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.center-content p {
	max-width: 350px;
	font-size: 0.8vw;
	font-weight: bold;
	margin-bottom: 2rem;
	color: $secondary-color;
}

// Кнопки
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: $primary-color;
	color: #fff;
	font-size: 0.8rem;
	border: none;
	padding: 0.75rem 1rem;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s;
}

.pulse {
	animation: pulse 1.5s infinite;
	@keyframes pulse {
		0% {
			box-shadow: 0 0 0px 4px #ff000036;
		}
		50% {
			box-shadow: 0 0 8px 8px #ff000036;
		}
		100% {
			box-shadow: 0 0 0px 4px #ff000036;
		}
	}
}

// Подвал
footer {
	background: $background-color;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
	p {
		font-size: 0.8rem;
	}
}

// Скрытие меню на мобильных устройствах
.menu-toggle {
	display: none;
	background: none;
	border: none;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
}

// Адаптивные стили
.navbar {
	display: flex;
	transition: transform 0.3s ease;
}

.navbar ul {
	flex-direction: row;
}

.block-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 5px;
	padding: 0.5rem;
	svg {
		animation: rotate 5s linear infinite;
	}
	.logo {
		background: url('../images/logo.png') no-repeat;
		background-position: center center;
		background-size: contain;
		width: 150px; // или любое значение, подходящее для дизайна
		max-width: 350px; // задайте максимальную ширину
		height: 50px;
		aspect-ratio: 1 / 1; // сохраняйте пропорции, если логотип квадратный
	}

	h1 {
		font-weight: bold;
	}
	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

// SECTION ONE

.one {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 5rem;
	gap: 50px;
	text-align: center;
	position: relative;
	width: 100%;
	background-color: white;
	background-size: cover;

	.body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		z-index: 2;
		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;

			h1 {
				line-height: 25px;
				color: black;
				&::first-letter {
					color: $primary-color;
				}
			}
			p {
				max-width: 350px;
				line-height: 1.3rem;
			}
		}
		.grid-container {
			display: grid;
			grid-template-columns: repeat(4, 250px);
			grid-gap: 20px;
			.grid-item {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 250px;
				height: 250px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				.logo {
					img {
						width: 120px;
						height: 120px;
						background-position: center center;
						background-size: contain;
					}
				}
				h2 {
					text-align: center;
					max-width: 200px;
					line-height: 15px;
					font-weight: bold;
					font-size: 1rem !important;
					color: gray;
				}
			}
		}
	}
}

// SECTION TWO

.two {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	padding: 2.5rem;
	gap: 25px;
	text-align: center;
	position: relative;
	width: 100%;
	height: 700px;
	background-color: $section-color;
	background-size: cover;
	.left {
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		background: url('../images/tipok.png') no-repeat;
		background-size: contain;
		background-position: center center;
	}
	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		padding: 2rem;
		width: calc(80%);
		background: #1213157b;
		height: 100%;
		border-radius: 10px;
		.top {
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 1rem;
			width: 100%;
			height: 100px;
			.l {
				text-align: start;
				h1 {
					color: #fff;
					font-weight: bold;
				}
				p {
					font-weight: bold;
				}
			}
			.r {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: row;
				gap: 20px;
				height: 100px;

				h1 {
					font-size: 6rem;
					font-weight: bold;
					color: #fff;
					position: relative;
					display: inline-block;

					// Добавляем текстуру
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: url('../images/texture.png') no-repeat;
						background-size: contain;
						mix-blend-mode: multiply; // Зависит от желаемого результата
						opacity: 0.6; // Регулировка видимости
						pointer-events: none; // Чтобы текст был кликабельным
					}
				}

				p {
					max-width: 200px;
					text-align: start;
					font-weight: bold;
				}
			}
		}

		.center-form {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 400px;
			margin: 0 auto;
			padding: 20px;
			gap: 10px;

			.bottom {
				width: 100%;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

$modal-bg-color: rgba(0, 0, 0, 0.956);
$modal-content-bg-color: white;
$modal-padding: 20px;
$modal-border-radius: 10px;
$label-text-color: #666; // Цвет текста для меток
$input-bg-color: #f4f4f4;
$input-focus-border-color: #4caf50;
$input-focus-shadow: rgba(76, 175, 80, 0.5);
// MODAL WINDOW
.modal {
	display: none; /* Скрыто по умолчанию */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $modal-bg-color;
	justify-content: center;
	align-items: center;
	z-index: 9999998;
}

.form-message {
	width: 100%;
	text-align: center;
	color: red;
	margin-bottom: 10px;
	font-size: 14px;
	display: none; /* По умолчанию скрыто */
	font-weight: bold;
}
.form-message.success {
	color: green;
	display: block;
}
.form-message.error {
	color: red;
	display: block;
}

.tabs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* Иконка для активного состояния */
	.tab-button.active .active-icon {
		display: block;
	}

	.tab-button.active .inactive-icon {
		display: none;
	}

	/* Иконка для неактивного состояния */
	.tab-button:not(.active) .active-icon {
		display: none;
	}

	.tab-button:not(.active) .inactive-icon {
		display: block;
	}

	.tab-button {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		gap: 5px;
		cursor: pointer;
		background-color: #f0f0f0;
		border: none;
		padding: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.8rem;
		width: 100%;
		font-weight: bold;

		&.active {
			background-color: #e4e600;
			color: $background-color;
		}
	}
}

.modal-content {
	border-radius: $modal-border-radius;
	max-width: 500px;
	width: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	z-index: 9999999;

	.top {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
		background: $background-color;
		border-radius: 10px 10px 0 0;
		.close {
			position: absolute;
			right: 10px;
			bottom: -15px;
			font-size: 50px;
			cursor: pointer;
		}
	}

	.body {
		padding: $modal-padding;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		width: 100%;

		background: $modal-content-bg-color;
		overflow-y: auto;
		border-radius: 0 0 10px 10px;

		.input-group {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 15px;
			text-align: start;
			label {
				text-align: start;
				font-size: 14px;
				color: $label-text-color;
				margin-bottom: 8px;
				font-weight: bold;
			}

			.glow-input {
				max-width: 100%;
				padding: 10px;
				font-size: 16px;
				border: 2px solid transparent;
				border-radius: 4px;
				background-color: $input-bg-color;
				outline: none;
				transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
			}

			.glow-input:focus {
				border-color: $serwak-color;
				box-shadow: 0 0 8px $serwak-color;
			}

			textarea.glow-input {
				width: 100%;
				min-height: 50px;
				max-height: 50px;
				resize: vertical;
			}
		}
		.footer {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 10px;
			width: 100%;
			background: #fff;
		}
	}
}
